:root {
  --navbar: #212121;
  --background: #303030;
  --card: #424242;
  --primary: rgb(255, 255, 255);
  --secondary: rgba(255, 255, 255, 0.7);
  --disabled: rgba(255, 255, 255, 0.5);
  --accent: rgb(83, 187, 73);
}

* {
  margin: 0;
}

.offline{
  width: 100vw;
  height: 100vh;
  display: flex;
  color: var(--primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}