.cart {
  min-height: 100vh;
  background: var(--background);
  color: var(--primary);
}

.pay__logo {
  padding: 15px 0;
}

.cart__container {
  padding: 15px;
}

.left__cart {
  margin: 15px;
  margin-bottom: 0;
  padding: 15px;
  border-radius: 10px;
  background: var(--navbar);
  display: flex;
  flex-direction: column;
}

.cart__item {
  display: flex;
  margin: 10px;
  color: var(--primary);
}

.cart__itemImg {
  width: 30vw;
  min-width: 100px;
  max-width: 300px;
  /* height: 220px; */
}

/* .cart__itemImg img {
  width: 100%;
  min-width: 100px;

  opacity: 0.8;
  max-height: 100%;
} */

.cart__desc {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  /* text-align: justify; */
}

/* .cart__desc > *:not(:first-child) {
  margin-bottom: 10px;
} */

.cart__desc select {
  width: 96px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 5px;
  background: var(--card);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}

.cart__btn {
  width: 100px;
  color: var(--background);
  border: none;
  /* height: 35px; */
  min-width: fit-content;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  background: var(--accent);
  font-family: "Comic Sans MS", "Comic Sans";
  cursor: pointer;
}

.sub__total {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  /* min-width: 200px; */
}

.sub__total button {
  margin-top: 8px;
}

.user__details {
  margin: 20px;
}

.invalid__address {
  text-indent: 30px;
  font-weight: 200 !important;
  color: red !important;
}

.user__address {
  margin-left: 20px;
}

.payment__btn {
  /* width: 100px; */
  color: var(--background);
  /* border: none; */
  min-width: fit-content;
  /* border-radius: 5px; */
  /* padding: 8px; */
  background: var(--secondary);
  font-family: "Comic Sans MS", "Comic Sans";
  cursor: pointer;
  /* margin:0 auto !important; */

  display: block;
  font-size: 16px;
  width: calc(100% - 60px);
  height: 40px;
  margin: 0 30px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  /* will-change: transform, background-color, box-shadow; */
  border: none;
}

.FormGroup {
  margin: 30px;
  padding: 0;
  border-style: none;
  background-color: transparent;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  /* padding: 11px 15px 11px 0; */
}
