.home {
  background: var(--background);
  min-height: 100vh;
  color: var(--primary);
}

.home__container{
  overflow: auto;
}

.category {
  color: var(--primary);
  margin: 2vmin;
  padding: 1.5vmin;
  color: var(--primary);
  background: var(--card);
  border-radius: 5px;
}

.item {
  margin: 1vmin;
  color: var(--secondary);
  /* font-size: medium; */
  min-width: 240px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.category__items {
  display: flex;
  overflow-x: scroll;
  height: 280px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-mask-image: linear-gradient(180deg, var(--card) 90%, transparent);
}

.category__items::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.category__name {
  text-transform: capitalize;
}

.item__image {
  /* max-width: 100%; */
  width: 100%;
  height: 200px;
  opacity: 0.8;
  border-radius: 2px;
  /* max-height: 200px; */
  /* max-width: ; */
}